@charset "UTF-8";

/* responsive */

/* 
mobile: 320px to 480px 
tablet: 481px to 768px
notebooks: 769px to 1024px
large screen: 1025px to 1200px
extra large screen: 1201px to 1920px (or greater)

background-image: linear-gradient(to top, #7d0c99, #111929);
    background-repeat: no-repeat;

*/

/* Tablet */
@media screen and (min-width: 505px) and (max-width: 768px) {
  body {
  }

  section#login {
    width: 80%;
  }
  section#login > div#text-login {
    float: left;
    width: 40%;
    height: 50%;
  }

  section#login > div#login-form {
    float: right;
    width: 60%;
  }
}
/* Notebooks or greater */
@media screen and (min-width: 768px) {
  body {
  }

  section#login {
    width: 50%;
  }

  section#login > div#text-login {
    float: right;
    width: 50%;
    height: 100%;
  }

  section#login > div#login-form {
    float: left;
    width: 50%;
  }
}
