@charset "UTF-8";

/* mobile first */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  background-color: #111929;
}

main {
  max-width: 768px;
  height: 768px;
  margin: 1em;
  padding: 1em;
  margin: auto;
}

.container-login {
  /* inline-flex para colocar lado a lado */
  display: block;
  text-align: center;
  color: #fff;
  padding: 1em;
  border: #895bbe 1px solid;
  border-radius: 0.85em;
}

.text-login {
}

.container-header {
  display: block;

  justify-items: left;
  color: #fff;
  padding: 0.5em;
}

h1 {
  font-size: 1.5em;
  color: #fff;
  padding: 1em 0 0 1em;
}

.slogan {
  font-size: 0.7em;
  font-weight: 100;
  color: #fff;
  padding-top: 0.5em;
  padding-left: 2.25em;
}

h2 {
  font-size: 1.5em;
  color: #fff;
  padding: 1em;
}

p {
  margin: 0;
  padding: 0.5em;
}

#get-acess {
  color: #895bbe;
  cursor: pointer;
}
.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  width: 70%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
}

label {
  margin-bottom: 0.5em;
}

input {
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #895bbe;
}

#email {
  background-color: #202a39;
  color: rgba(128, 128, 128, 0.792);
  width: 100%;
}

#email:hover {
  background-color: #fff;
  color: rgb(128, 128, 128);
  width: 100%;
}

#password {
  background-color: #202a39;
  color: rgba(128, 128, 128, 0.792);
  width: 100%;
}

#password:hover {
  background-color: #fff;
  color: rgb(128, 128, 128);
  width: 100%;
}

#btn-login {
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #895bbe;
  background-color: #895bbe;
  color: #fff;
  cursor: pointer;
}

#btn-login:hover {
  background-color: #fff;
  color: #895bbe;
}

footer {
  text-align: center;
  color: #8a92a1;
  padding: 1em;

  margin-top: 25em;
  align-items: center bottom;
  justify-items: bottom bottom;
  border-top: 1px solid #8a92a11c;
}
